/*As rules for the site*/
* {
	font-family:Verdana, sans-serif;
	padding:0;
	margin:0;
}
body {
	width:700px;
	margin:auto;
	outline:solid 1px;
	margin-bottom: 50px;
}
@media (max-width: 700px) {
	body {
		outline: none;
		width:auto;
	}
}
p {
	font-size:12px;
}
a { 
 	text-decoration: none; 
 	color: black;

}
a:visited { 
 text-decoration: none; 
 color: black; 
}
h1 {
	text-align: center;
	margin: 10px;
}
h2 {
	font-size:15px;
}

/*Common classes*/
.inline {
	display:inline;
}
.window {
	outline:solid black 1px;
}
.windowheading {
	outline:solid black 1px;
	padding-left: 5px;
	padding-right: 5px;
}
.window > p, .quanda > p {
	margin-top: 5px;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 12px;
}
blockquote {
	margin-left: 20px;
	padding-left: 20px;
	border-left: solid gray 1px;
	color:gray;
	font-size:12px;
}

.table {
	display:table;
	width:100%;
}
.row {
	display:table-row;
	width:100%;
}
.column {
	display:table-column;
}
.cell {
	display:table-cell;
}




/*Header*/
header {
	display:table;
	border-bottom:solid 1px;
}

#tagline {
	font-size:13px;
	font-weight:normal;
	margin-left:5px;
	margin-right:5px;
}
#navbar {
	width:100%;
	font-size:16px;
	font-weight:normal;
	text-align:center;
	margin:10px;
}

/*Whole page*/
@media (max-width: 700px) {
   #page {
    width:350px;
    margin:auto;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
  }
}
#banner {
	height:100px;
}
@media (max-width: 700px) {
	#banner {
  	  width: 100%;
    	max-width: 100%;
    	height:auto;
  }
}



/*Sidebar*/
#sidebar {
	width:150px;
	display:table-cell;
	border-right:solid 1px;
	padding:5px;
}
@media (max-width: 700px) {
  #sidebar {
  	display:none;
  }
}
#bottombar {
	width:350px;
	padding:5px;
	padding-top:12px;
  display:table-cell;
}
@media (min-width: 701px) {
  #bottombar {
  	display:none;
  }
}

aside > p {
	margin-top: 12px;
}

.thumbnail {
	border-bottom:dashed 1px;
	border-left:dashed 1px;
	border-right:dashed 1px;
	padding: 5px;
}
.icon {
	border:none;
	display: inline;
	vertical-align: top;
}
.thumbnail > a {
	font-size: 15px;
}



/*Content*/
main {
	padding:5px;
	padding-left:20px;
	padding-right:20px;
	text-align: justify;
}
main > p, main > blockquote, main > h2 {
	margin-bottom: 12px;
}

#main {
	width:auto;
	display:table-cell;
	padding:5px;
}
.title {
	text-align: center;
}

p > img {
	border: 5px solid #DE3163;
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 80%;
	height: auto;
}
.blurb {
	color: grey;
	text-align: center;
}

main a, main a:visited {
	color:#DE3163;
}
aside a, aside a:visited {
	color:#DE3163;
}



/*Articles page*/
.bigthumbnail {
	border-top:solid 1px;
	border-left:dashed 1px;
	border-right:dashed 1px;
	padding: 5px;
}

/*About page*/
.quanda {
	margin: 30px;
	outline:solid black 1px;

}
@media (max-width: 700px) {
  .quanda {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 5px;
  margin-right: 5px;
  }
}
