/*remove default values*/
* {
	padding:0px;
	margin:0px;

}

/*general*/
p {
	font-family:tahoma,arial,sans-serif;
	font-size:14px;
}
h3 {
	font-family:tahoma,arial,sans-serif;
	font-size:14px;
}	
a, a:visited, a:hover, a:active {
  color: inherit;
}
.link {
	font-family:tahoma,arial,sans-serif;
	font-size:14px;
	color:black;
	text-decoration:None;
}
.link:hover {
	font-family:tahoma,arial,sans-serif;
	font-size:14px;
	color:#858585;
	text-decoration: underline;
}
.biglink {
	font-family:tahoma,arial,sans-serif;
	font-size:18px;
	color:black;
	text-decoration:None;
}
.biglink:hover {
	font-family:tahoma,arial,sans-serif;
	font-size:18px;
	color:#858585;
	text-decoration: underline;
}


/*header*/
#header {
	display:table;
	width:800px;
	margin:auto;
	vertical-align: top;


	border-top:1px solid black;
	border-left:1px solid black;
	border-right:1px solid black;
	border-bottom:1px solid black;
}
#headerleft {
	display:table-cell;
	width:auto;
	vertical-align: top;
	padding:5px;
	position: relative;
}
#headerright {
	display:table-cell;
	width:100px;
	box-sizing:border-box;
}
#headerlefttop {

}
#headerleftbottom {
	position:absolute;
	width:100%;
	bottom:0px;
	height:25px;
}
#logo {
	display:block;
}
.name {
	font-family:tahoma,arial,sans-serif;
}
.tagline {
	font-family:tahoma,arial,sans-serif;
	font-size:14px;
}
#navbar {
	text-align:center;
}

/*page*/
#page {
	/*possibly 700px*/
	width:800px;
	border-left:1px solid black;
	border-right:1px solid black;
	border-bottom:1px solid black;
	display:table;
	margin:auto;
	vertical-align: top;
}



/*sidebar*/
#sidebar {
	width:200px;
	display:table-cell;
	padding:5px;
}
.thumbnail {
	height:50px;
	padding:5px;
	border-left:1px dashed black;
	border-right:1px dashed black;
	border-bottom:1px dashed black;
}

/*content*/
#content {
	display:table-cell;
	width:auto;
	padding:5px;
}
#content.leftborder {
	border-left:1px solid black;
}
.window {
	border-left:1px solid black;
	border-right:1px solid black;
	border-bottom:1px solid black;
	padding:5px;
}
.window.top {
	border-top:1px solid black;
}
.windowheading{
	border:1px solid black;
	padding-left:5px;
}

.title {
	font-size:18;
	text-align:center;
	font-family:tahoma,arial,sans-serif;
}